.Grid{
    width: 450px;
    height: 450px;
    background: grey;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
}

.Block{
    width: 50px;
    height: 50px;
    background-color: green;
    border: 1px solid black;
    p {
        font-size: 10px;
    }
}

.Menu {
    margin: 0 auto;
}